/* HEADER */

/* SONY BLACK BAR */

.sony-black-bar {
  background-color: #000000;
  display: flex;
  justify-content: end;
}

.sony-black-bar img {
  width: 100px;
}

/* /SONY BLACK BAR */


/* PLAYSTATION NAVBAR */



/* /PLAYSTATION NAVBAR */

/* /HEADER */