/* PS5 AND COMPONENTS */
.ps5-and-components {
  width: 100%;
}

.ps5-and-components p, .explore-ps4 p, .ps-store p {
  color: #727272;
  font-size: 19px;
}


.ps5-and-components-title span {
  color: #0D79D0;
}

.ps5-and-components-title, .ps5 {
  font-weight: bold;
}

.ps5 p {
  padding-right: 75px;
}

.ps5 img {
  width: 100%;
}

.sc-container-components {
  width: 80%;
  margin: 0 auto;
}

.sc-container-components img {
  width: 100%;
  padding: 0 5px;
}

.sc-container-components .col {
  opacity: .5;
}

.sc-container-components .col:hover {
  border-bottom: 2px solid #0D79D0;
  opacity: 1;
  transition: .2s ease-in;
  transition: .2s ease-out;
}

.sc-container-components p {
  color: #000000;
}

/* /PS5 AND COMPONENTS */


/* IT TAKES TWO GAME */

.it-takes-two-game {
  background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 780px;
}

.it-takes-two-game img {
  width: 20%;
}

.sc-container-it-takes-two {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

/* /IT TAKES TWO GAME */


/* NEW ARRIVALS */

.new-arrivals {
  background-color: #1F1F1F;
}

.new-arrivals-game img {
  width: 100%;
  border-radius: 30px;
  margin: 10px 0;
}

.new-arrivals-game p {
  font-size: 18px;
}

/* /NEW ARRIVALS */


/* EXPLORE PS4 */

.ps4-items img {
  width: 100%;
}

/* /EXPLORE PS4 */


/* PS PLUS */


.ps-plus {
  background-color: #BEBCBB;
}

.ps-plus .plus-banner {
  width: 60%;
}

.ps-plus .plus-games {
  width: 100%;
}

/* /PS PLUS */


/* PS STORE */

.ps-store-sales img {
  width: 100%;
}

/* /PS STORE */


/* PS NOW */

.ps-now {
  background-color: #161C3B;
}

.ps-now-description p {
  padding-right: 0px;
  font-size: 18px;
}

.ps-now .now-banner {
  width: 58%;
}

.ps-now .now-games {
  width: 100%;
}

/* /PS NOW */