/* GENERAL PRESETS */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.btn-dft {
  border-radius: 25px;
  padding: 10px 10px;
  border: 0px;
  cursor: pointer;
  font-weight: bold;
}

.btn-login {
  background-color: #363636;
  color: #F0F0F0 !important;
}

.btn-buy {
  background-color: #CD3D0F;
  color: #FFFFFF;

}

/* /GENERAL PRESETS */